body {
  background:  url(../img/seigaiha.png), linear-gradient(to bottom, white, rgba(131, 171, 175, 0.9));
  height: 100%;
  background-attachment: fixed;
}
/* Background image from subtlepatterns.com, made by Olga Libby */

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}

h6 {
  margin-left: 3%;
  font-size: 14px;
}

p {
  margin-left: 4%;
  margin-right: 4%;
}

#introPar {
  text-align: center;
}

#introPar img {
  padding-top: 20px;
}

#introCap {
  font-size: 13px;
  padding-bottom: 20px;
}

ul {
  margin-left: 4%;
  list-style: square;
}

strong {
  font-size: 110%;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a:link, a:visited {
  color: #ff6600;
}

a:hover {
  color: red;
}

a:active {
  color: purple;
}

.nav {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.nav ul {
  display: inline-block;
  list-style: none;
  padding: 0px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 0%;
}

.nav ul li {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  border-right: 2px solid black;
  width: 120px;
}

.nav ul li a {
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  color: white;
}

.nav ul li a:link, .nav ul li a:visited {
  background-color: gray;
}

.nav ul li a:hover {
  background-color: black;
}

.nav ul li a:active {
  background-color: brown;
}

#nav1 {
  border-left: 2px solid black;
}

.nav ul li a.currentpage {
  background-color: lightgray;
  color: gray;
  font-weight: normal;
}

.portfolio ul {
  padding: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.1;
}

.portfolio li {
  line-height: 0.1;
}

.portfolio p {
  padding-bottom: 12px;
}

.portfolio li a {
  font-weight: 900;
}

/* A class created solely for demonstrating the use of a span */
.spanDemonstrator {
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}
